{
  "env": {
    "test": {
      "presets": [
        "flow", ["env", {
          "loose": true,
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-runtime"
      ]
    },
    "legacy": {
      "presets": [
        "flow", ["env", {
          "loose": true,
          "targets": {
            "node": 4
          }
        }]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-runtime"
      ],
      "ignore": [
        "__mocks__",
        "__tests__",
        "__fixtures__",
        "node_modules"
      ]
    },
    "modern": {
      "presets": [
        "flow", ["env", {
          "loose": true,
          "targets": {
            "node": 8
          }
        }]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-runtime"
      ],
      "ignore": [
        "__mocks__",
        "__tests__",
        "__fixtures__",
        "node_modules"
      ]
    }
  }
}
